@import url('https://fonts.googleapis.com/css?family=EB+Garamond|IBM+Plex+Sans|Montserrat|Open+Sans+Condensed:300|Raleway&display=swap');

html, body {
  background: #E5E5E5;
}
.account-wrapper {
  margin-top: 50px;
  width: 100%;
  min-height: 1500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat';

}
.top-content {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-profile-block {
  /* border: 2px solid black; */
  /* border: 1px solid red; */
  display: flex;
  width: 900px;
  /* background: white; */
}
.left-profile-block {
  width: 225px;
  padding: 15px;
}
.right-profile-block {
  flex: 5;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}
.sidebar-menu-block {
  /* background: white; */
}
.profile-image-block {
  background: white;
  border: 1px solid #DADADA;
  border-radius: 4px;
  height: 320px;

}
.profile-image-block img {
  width: 200px;
  padding: 10px;
  height: 300px;
}
.profile-info-block {
  display: flex;
  flex-direction: column;

  width: 600px;
  min-height: 300px;
  background: white;
  border: 1px solid #DADADA;
  border-radius: 4px;
  padding: 10px;
}
.profile-name-and-surname {
  font-size: 25px;
  font-weight: bold;
}
.top-info {
  height: 200px;
  flex: 6;
  display: flex;
  position: relative;
  flex-direction: column;
}
.bottom-info {
  border-top: 1px solid #A09E9E;
  flex: 2;
}
.profile-about-block {
  display: flex;

}
.profile-status {
  font-family: 'IBM Plex Sans', sans-serif;
  margin-top: 3px;
  margin-left: 10px;
  font-size: 20px;
  padding-left: 4px;
  border-left: 3px solid #369FFF;
}

.name-about-block {
  flex: 3;
  margin-top: 20px;
}
.child-name-about {
  padding: 5px;
  margin-left: 10px;
  color: #777777;
}
.child-value-block {
  padding: 5px;

}
.bold_username {
  font-weight: bold;
}
.value-about-block {
  color: #2F6CA5;
  flex: 5;
  margin-top: 20px;
}
.bottom-info {
  display: flex;
  /* justify-content: space-around; */
}
.bottom-block {
  display: flex;
  flex: 1;
  /* width: 110px; */
  /* margin-top: 10px; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.value-bottom {
  font-size: 25px;
  color: #2F6CA5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-bottom {
  width: 100%;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}

.bottom-content {
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 15px; */
}


.MyPosts-block {
  /* margin-left: 150px; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.post-block {
  width: 850px;
  min-height: 100px;
  background-color: #fff;
  border: 1px solid #DADADA;
  margin: 15px;
  padding: 10px;
  padding-top: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.post-text{
  /* flex: 4; */
  min-height: 70px;
  font-size: 15px;
  padding-bottom: 5px;
}

.bottom-post-block {
  /* flex: 1; */
  border-top: 1px solid #DADADA;
  display: flex;
  padding-top: 10px;
  align-items: center;
  /* margin-top: 10px; */
  /* justify-content: center; */

}

.child-bottom-post-block img {
  width: 25px;
}

.child-bottom-post-block {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50px;
  margin-left: 15px;
}
.value-child-post {
  margin-top: -5px;
  height: 100%;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-public-post-block {
  width: 400px;
  display: flex;
  flex-direction: row;
}
.name-date{
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.value-date {

  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2F6CA5;
}

.new-post-block {
  display: flex;
  width: 100%;
  min-height: 150px;
  align-items: center;
  justify-content: center;
  /* background: red; */
}

.new-post-form {
  width: 850px;
  padding: 10px;
  /* margin: 20px; */
  /* margin-left: 150px; */
  min-height: 50px;
  background-color: white;
  border: 1px solid #DADADA;
  border-radius: 4px;
  position: relative;

}
.new-post-form input {
  width: 100%;
  height: 50px;
  text-decoration: none;
  resize: 100%;
  outline: none;
  resize: none;
  font-family: 'Montserrat';
  font-size: 15px;
  border-width: 0;
}

.bottom-new-post-form {
  border-top: 1px solid #DADADA;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Montserrat';

}
.button-add-post {
  /* margin-left: 40px; */
  padding: 7px;
  margin-top: 10px;
  background-color: #2F6CA5;
  color: #fff;
  font-size: 13px;
}
.button-subscribe {
  background-color: #2F6CA5;
  border-radius: 4px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 150px;
  right: 20px;
  top: 20px;
  cursor: pointer;
  font-family: 'Montserrat';
  transition: 0.15s all ease-in-out;
  height: 35px;
  position: absolute;
}
.button-subscribe:hover {
  transition: 0.15s all ease-in-out;
  background-color: rgb(16, 88, 156);

}
.comment-input {
  border-radius: 3px;
  border: 1px solid #DADADA;
  padding: 3px;
}
.comments-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.comments-block input {
  width: 50%;
  font-family: 'Montserrat';

}
.comment {
  width: 100%;
  min-height: 40px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  border-top: 1px solid #DADADA;
  margin-bottom: 10px;
}
.comment-img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-comment {
  display: flex;
}
.comment img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.commentator {
  font-weight: bold;
  text-decoration: none;
  color: black;
  border: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.cm {
  margin-left: 5px;

}
.bottom-post {
  display: flex;
}
.comment-button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #DADADA;
  background: white;
  color: black;
  margin-left: 10px;
  transition: 0.1s all ease-in-out;
}
.comment-button:hover {
  color: white;
  transition: 0.1s all ease-in-out;
  cursor: pointer;
  background: #2F6CA5;
}
.author-block {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.author-name {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2F6CA5;
  margin-left: 15px;
  font-size: 20px;
}
.author-name img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.post-img {
  max-width: 95%;
  max-height: 500px;
}

.author-name-name {
  margin-left: 10px;
}

@media(max-width: 920px) {
  /* .top-content {
    flex-direction: column;
  } */
  .profile-info-block {
    width: 500px;
  }
  .main-profile-block {
     width: 100%;

  }
}
@media(max-width: 820px) {
  .main-profile-block {
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .top-content {
    flex-direction: column;
  }
}
@media(max-width: 670px) {
  .profile-info-block {
    width: 400px;
  }

}
@media(max-width: 900px) {
  /* .myposts-block {
    width: 90%;
  } */
  .post-block {
    width: 90%;
  }
  .right-profile-block {
    width: 100%;
    padding: 0;
  }
  .new-post-form {
    width: 85%;
  }
}
@media(max-width: 500px) {
  .profile-info-block {
    width: 85%;
    /* flex-direction: row; */
  }
  .post-text {
    padding: 5px;
  }
  .post-block {
    /* padding: 0; */
  }
  .name-date {
    margin: 0;
    display: none;
  }
  .value-date {
    display: none;
  }
  .value-child-post {
    margin-left: 8px;
  }
  .bottom-new-post-form {
    flex-direction: column;
  }
}
.delete-post-block {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
}
.delete-post-block img {
  width: 100%;
  height: 100%;
}
.newpost-input-block {
  position: absolute;
  left: 10px;
  top: 10px;
}
@media(max-width: 760px) {
  .newpost-input-block {
    position: inherit;
    display: block;
  }
}
.button-message {
  background-color: #2F6CA5;
  border-radius: 4px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 150px;
  right: 20px;
  top: 150px;
  cursor: pointer;
  font-family: 'Montserrat';
  transition: 0.15s all ease-in-out;
  height: 35px;
  position: absolute;
}
.button-message:hover {
  transition: 0.15s all ease-in-out;
  background-color: rgb(16, 88, 156);
}
@media (max-width: 690px) {
  .button-message {
    right: 0;
    top: 50px;
    width: 100px;
    font-size: 12px;
    /* padding: 0px;
    height: 25px; */
  }
  .button-subscribe {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100px;
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .button-message {
    right: 20px;
    top: 175px;
    width: 100px;
    font-size: 12px;
    /* padding: 0px;
    height: 25px; */
  }
  .button-subscribe {
    position: absolute;
    right: 170px;
    top: 175px;
    width: 100px;
    font-size: 12px;
  }
}
