@import url('https://fonts.googleapis.com/css?family=EB+Garamond|IBM+Plex+Sans|Montserrat|Open+Sans+Condensed:300|Raleway&display=swap');

.sidebar-menu-block {
    background: #fff;
    border: 1px solid #DADADA;
    border-radius: 4px;
    padding: 20px;
    left: 100px;
    position: absolute;
    display: flex;
    font-size: 15px;
    width: 170px;
    height: 300px;
    justify-content: space-evenly;
    flex-direction: column;
    /* align-items: center; */
    font-family: 'Montserrat';


}
.sidebar-menu-block > a > div {
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    height: 100%;

    align-items: center;
}
.sidebar-menu-block > a > div:hover {
    background: #f5f5f5;
    padding: 4px;
    border: 1px solid #DADADA;
}

.sidebar-menu-block a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.sidebar-my-profile {
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.sidebar-my-profile:hover {
  background: #f5f5f5;
  border: 1px solid #DADADA;
}
.img-profile {
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-right: 10px;
}
@media (max-width: 1000px) {
  .sidebar-menu-block > a > div > div {
    display: none;
  }
}
@media(max-width: 1520px) {
  .sidebar-menu-block {
    position: inherit;
    width: 80%;
    flex-direction: row;
    height: 30px;
    margin: 0;
  }
  .top-content {
    flex-direction: column;
  }
}
@media(max-width: 670px) {
  .sidebar-menu-block  > a > div {
    padding: 0;
  }
  .sidebar-menu-block  > a > div:hover {
    padding: 0;
    border: none;
  }
  .img-profile {
    width: 30px;
    height: 30px;
  }
  .sidebar-menu-block {
    width: 99%;
    padding: 0;
    margin: 0;
    height: 50px;
  }
}
@media(max-width: 470px) {
  .main-profile-block {
    width: 100%;
    padding: 0;
  }
  .sidebar-menu-block div {
    font-size: 10px;
  }
}
