.dialogs-block {
  /* background: red; */
  width: 100%;
  min-height: 800px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.dialog-block {
  margin-top: 10px;
  border: 1px solid #DADADA;
  background: white;
  padding: 10px;
  width: 700px;
  height: 80px;
  font-size: 20px;
  display: flex;
  /* justify-content: center; */
  font-weight: bold;
  align-items: center;
  font-family: 'Montserrat';
}
.dialogs-block a {
  width: 900px;
  height: 100%;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  /* background: red; */
}
.dialog-block img {
  margin-left: 10px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
.lastMes {
  font-size: 14px;
  display: flex;
  color: #4a4a4a;
  font-weight: 400;
  margin-top: 5px;
}
.lastMes-username {
  color: #255ba1;
}
.lastMes img {
  width: 30px;
  height: 30px;
}
.lastMes-text {
  overflow: hidden;
  color: black;
  margin-top: 5px;
  margin-left: -10px;
}
@media(max-width: 1100px) {
  .dialog-block {
    /* width: 85%; */
  }
  .dialogs-block a {
    width: 85%;
  }
}
